:root{
    --a:0;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: black;
    color: white;
}

.close {
    display: none;
}


.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;
}

.home ul li {
    display: flex;
    list-style: none;
    width: 14px;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    width: 100%;
    gap: 15px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    padding-top: 14px;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    gap: 12px;
    font-size: 9px;
    position: absolute;
    bottom: 0;
    color: grey;
    padding: 10px 0;
}

.footer a {
    color: grey;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 20px;
}

.spotifyPlaylists {
    padding: 16px;
}

.spotifyPlaylists h1 {
    padding: 16px;
}

.card>* {
    padding-top: 10px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 60vh;
    overflow-y: auto;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 1s;
}

.card:hover{
    background-color: rgb(70, 68, 68);
    cursor: pointer;
    --a: 1;
}

.card  .play:hover{
    opacity: 1;
}



.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    color: rgb(156, 148, 148);
    background-color: rgb(34, 34, 34);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 79px;
    font-size: 16px;
    border: none;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}

.hamburger {
    display: none;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.playbar {
    position: fixed;
    bottom: 50px;
    filter: invert(1);
    background-color: #e2d9d9;
    border-radius: 10px;
    min-height: 40px;
    width: 90%;
    padding: 12px;
    width: 70vw;
}


.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songList {
    height: 644px;
    overflow: scroll;
    margin-bottom: 44px;
}

.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    padding: 12px 0;
    cursor: pointer;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
    justify-content: space-between;
}

.info div {
    word-break: break-all;
}

.playnow {
    justify-content: center;
    align-items: center;
    display: flex;
}

.playnow span {
    width: 64px;
    font-size: 15px;
    padding: 12px;
}

.songList .info {
    font-size: 15px;
    width: 344px;
}

.seekbar {
    height: 4px;
    width: 98%;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 5px;
    margin: 6px;
    cursor: pointer;

}

.circle {
    background-color: black;
    height: 13px;
    width: 13px;
    border-radius: 13px;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img {
    cursor: pointer;
}

.songinfo {
    width: 250px;
}


.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.songtime,
.songinfo {
    color: black;
    padding: 0 12px;
    width: 125px;
}


.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.range input{
    cursor: pointer;
}

@media (max-width: 1200px) {
    .left {
        background-color: black;
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        padding: 0;
    }

    .songtime,
    .songinfo {
        width: auto;
    }


    .left .close {
        position: absolute;
        width: 29px;
        top: 25px;
        right: 31px;
    }

    .right {
        width: 100vw;
        margin: 0;
    }

    .playbar {
        width: calc(100vw - 60px);
    }

    .seekbar {
        width: calc(100vw - 50px);
    }

    .timevol {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 13px;
    }

    .hamburger {
        display: block;
    }

    .card {
        width: 44vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }


}

@media (max-width: 1200px) {
    .card{
        width: 64vw;
    }
}